@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define Circular Std Book */
@font-face {
  font-family: 'Circular Std Book';
  src: url('/fonts/CircularStd-Book.woff2') format('woff2'),
       url('/fonts/CircularStd-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body { 
  font-family: 'Circular Std Book', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
}

/* Ensure all headings and custom font classes use Circular Std Book */
h1, h2, h3, h4, h5, h6, .font-heading { 
  font-family: 'Circular Std Book', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif; 
}

.animation-delay-2000 {
  animation-delay: 2s;
}
.animation-delay-4000 {
  animation-delay: 4s;
}